button {
  border-radius: 5px;
  cursor: pointer;
  color: var(--font-color);
  background: var(--red-color-dark);
  padding: 10px 20px 10px 20px;
  border: solid var(--font-color) 1px;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  width: 60%;
}

button:hover {
  background: var(--font-color);
  color: var(--red-color-dark);
  border: solid var(--red-color-dark) 1px;
  text-decoration: none;
}

button:disabled {
  background-color: var(--disabled-color);
}

button:disabled:hover {
  background-color: var(--disabled-color);
  color: var(--font-color);
  border: solid var(--font-color) 1px;
  text-decoration: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  button {
    font-size: 2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  button {
    font-size: 3rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  button {
    font-size: 3rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  button {
    font-size: 4rem;
  }
}
