footer {
  font-size: 1.5rem;
  align-self: center;
  grid-column: 1/3;
  grid-row: 8/9;
  border-top: 1px solid var(--red-color-dark);
}

footer p {
  margin: 0;
  padding: 0;
}

footer a {
  color: var(--red-color-dark);
  text-decoration: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  footer {
    font-size: 2rem;
    grid-row: 7/8;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  footer {
    font-size: 3rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  footer {
    font-size: 3rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  footer {
    font-size: 4rem;
  }
}
