#timer-label {
  font-size: 2rem;
  align-self: center;
  grid-column: 1/3;
  grid-row: 2/3;
}

#time-left {
  font-size: 5rem;
  align-self: center;
  grid-column: 1/3;
  grid-row: 3/4;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #timer-label {
    font-size: 3rem;
  }
  #time-left {
    font-size: 6rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #timer-label {
    font-size: 4rem;
  }
  #time-left {
    font-size: 7rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #timer-label {
    font-size: 5rem;
  }
  #time-left {
    font-size: 8rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #timer-label {
    font-size: 6rem;
  }
  #time-left {
    font-size: 9rem;
  }
}
