:root {
  --font-color: #f2f2f2;
  --green-color-dark: #26a62f;
  --green-color-light: #29d935;
  --red-color-dark: #8c0303;
  --red-color-light: #bf0404;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
}
